{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "ignorePatterns": [
    "test/**/*.js",
    "examples/**/*.js",
    "types/**/*.ts"
  ],
  "extends": "airbnb-base",
  "rules": {
    "no-continue": "off",
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "no-plusplus": "off",
    "no-console": "off"
 },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  }
}
