name: test

on:
  push:
    branches:
      - master
      - develop
      - 'feature/*'
      - 'fix/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npm test
